[package]
name = "structured_headers"
version = "0.1.0"
authors = ["Tania Batieva <yalyna.ts@gmail.com>"]
edition = "2018"


[dependencies]
indexmap = { version = "1.3.2", features = ["serde-1"] }
"base64"="0.12.1"
"rust_decimal"="1.6.0"

[dev-dependencies]
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }
