[package]
name = "sfv"
description = "Structured Field Values for HTTP. Implementation of IETF draft https://httpwg.org/http-extensions/draft-ietf-httpbis-header-structure.html"
version = "0.1.0"
authors = ["Tania Batieva <yalyna.ts@gmail.com>"]
edition = "2018"
license = "MIT/Apache-2.0"


[dependencies]
indexmap="1.3.2"
rust_decimal="1.6.0"
data-encoding = "2.2.1"

[dev-dependencies]
serde_json = { version = "1.0", features = ["preserve_order"] }
serde = { version = "1.0", features = ["derive"] }
